<a href="https://colab.research.google.com/github/fardinniyaz/PythonProgramming-II/blob/main/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section A: FUNDAMENTALS OF PYTHON**

In [ ]:
# Write a python program to print"hello python"
a= "Hello Python"
print(a)

Hello Python

In [ ]:
# Write a python program to do arithmetical operations addition and division.
a=20
b=10
print(a+b)
print(a/b)

30
2.0

In [ ]:
# Write a python program to find the area of a triangle.
base=30
height=60
print(0.5*base*height)

900.0

In [ ]:
# Write a python program to swap two variables.
a=10
b=20
a,b=b,a
print("a= ",a)
print("b= ",b)

a=  20
b=  10

In [ ]:
# Write a python program to generate a random number.
import random
n=random.random()
print("Number= ",n)

Number=  0.5429269709366017

***Section B:***

In [ ]:
# Write a python program to convert kilometer to miles.
kilometer = float(input("enter kilometer value: "))
miles = kilometer*0.621371
print(kilometer,"kilometer is equal to",miles,"miles")

enter kilometer value: 3.5
3.5 kilometer is 2.1747985 miles

In [ ]:
# Write a python program to convert celsius to fahrenheit.
celsius = float(input("enter the value of temperatue in degree celsius: "))
fahrenheit = (celsius*1.8) + 32
print(celsius,"degree celsius is equal to",fahrenheit,"fahrenheit")

enter the value of temperatue in degree celsius: 37.5
37.5 degree celsius is equal to 99.5 fahrenheit

In [ ]:
# write a python program to display calendar.
import calendar 
year = int(input("enter the year: "))
mon= int(input("enter the month: "))
print(calendar.month(year,mon))

enter the year: 2006
enter the month: 10
    October 2006
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
# Write a python program to solve quadratic equation.
import cmath
a = 1
b = 5
c = 6
d = (b**2)-(4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solutions are {0} and {1}'.format(sol1,sol2))

The solutions are (-3+0j) and (-2+0j)

In [ ]:
# Write a python program to swap two variables without temp variable.
x = 10
y = 5
x = x+y
y = x-y
x = x-y
print('After swapping: x =',x,'y=',y)

After swapping: x = 5 y= 10

In [ ]:
# Write a python program to check if a number is positive,negative or zero.
num = float(input("Enter a number: "))
if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter a number: -6
Negative number

In [ ]:
# Write a python program to check if a number is odd or even.
num = int(input("Enter a number:"))
if (num%2)==0:
  print("{0} is Even".format(num))
else:
  print("{0} is Odd".format(num))

Enter a number:2
2 is Even

In [ ]:
# Write a python program to check leap year. 
year = int(input("Enter a year: "))
if ((year % 4 == 0) and (year % 100 == 0) or (year%400 == 0)):
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 2006
2006 is not a leap year

In [ ]:
# Write a python program to check prime number.
num = int(input("Enter a number: "))
flag = False
if num > 1:
  for i in range(2,num):
    flag = True
    break
if flag:
  print(num, "is not a prime number")
else:
  print(num, "is a prime number")

Enter a number: 4
4 is not a prime number

In [ ]:
# Write a python program to print all prime numbers in an interval of 1-10000.
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
print("Prime numbers between",lower, "and", upper, "are:")
for num in range(lower ,upper + 1):
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        break
    else:
        print(num)

***section:D***

In [ ]:
# Write a python program to find the factorial of a number.
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
  print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
  print("the factorial of 0 is 1")
else:
  for i in range(1,num + 1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

In [ ]:
# Write a python program to display the multiplication table.
num = int(input("Display multiplication table of: "))
for i in range(1,num):
  print(num,"x", i, "=",num*i)

Display multiplication table of: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42

In [ ]:
# Write a python program to print fibonacci sequence.
nterms = int(input("How many terms?"))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
  print("please enter a positive integer")
elif nterms == 1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count +=1

How many terms?10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
# Write a python program to check armstrong number.
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit**3
  temp //= 10
if num == sum:
  print(num,"is an Armstrong number.")
else:
  print(num,"is not an Armstrong number.")

Enter a number: 3
3 is not an Armstrong number.

In [ ]:
# Write a python program to find armstrong number in an interval.
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
for num in range(lower , upper + 1):
  order = len(str(num))
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit**order
    temp//= 10
  if num == sum:
    print(num)

Enter lower range: 100
Enter upper range: 20000
153
370
371
407
1634
8208
9474

In [ ]:
# Write a python program to find the sum of natural numbers.
num = int(input("Enter a number upto which you want to sum: "))
if num < 0:
  print("Enter a positive number")
else:
  sum = 0
  while(num > 0):
    sum += num
    num -= 1
  print("The sum is", sum)

***section:E***

In [ ]:
#Write a python program to find sum of array.
arr = [12,3,4,15]
a = sum(arr)
print("Sum of the array is",a)

In [ ]:
#Write a python program to find largest element in an array.
def largest(arr, n):
  b = max(arr)
  return a;
if name=="main":
  arr = [10,324,45,90,9808]
  n = len(arr) 
  print("Largest in given array", largest(arr,n))

In [ ]:
#Write a python program for array rotation.
def rotateArray(arr,n,d):
  temp = []
  i = 0
  while(i<d):
    temp.append(arr[i])
    i = i+1
    i = 0
    while(d<n):
      arr[i] = arr[d]
      i = i+1
      d = d+1
      arr[:] = arr[:1] +temp
      return arr
arr = [1,2,3,4,5,6,7]
print("Array after left rotation: ", end ='')
print(rotateArray(arr,len(arr),2))

In [ ]:
#Write a python program to split the array nd add the first part to end.
def splitArr(a,n,k):
  b = a[:k]
  return(a[k::]+b[::])
  arr = [12,10,5,6,52,36]
  n = len(arr)
  position = 2
  arr = splitArr(arr,n,position)
  for i in range(0,n):
    print(arr[i], end ='')

In [ ]:
#Write a python program to check if given array is monotonic.
def isMonochromatic(A):
  return(all(A[i]<= A[i+1] for i in range(len(A) -1))or
         all(A[i] >= A[i+1] for i in range(len(A) - 1)))
A = [6,5,4,4]
print(isMonotonic(A))

***section:F***

In [ ]:
# Write a python program to find sum of elements in list.
list = [11,5,17,18,23]
total = sum(list)
print("Sum of all elements in given list: ",total)

In [ ]:
#Write a python program to multiply all numbers in a list.
import math
list1 = [1,2,3]
list2 = [3,2,4]
result1 = math.prod(list1)
result2 = math.prod(list2)
print(result1)
print(result2)

In [ ]:
# Write a python program to find smallest number in a list.
list1 = [10,20,1,45,99]
print("Smallest element is:",min(list1))

In [ ]:
# Write a python program to find largest number in a list.
list2 = [10,20,1,45,99]
print("Largest element is:",max(list2)

In [ ]:
# Write a python program to find Second largest number in a list.
list1 = [10,20,20,4,45,45,99,99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:",list2[-2])

In [ ]:
# Write a python program to find N largest number in a list.
def Nmaxelements(list1,N):
  final_list = []
  for i in range(0,N):
    max1 = 0
    for j in range(len(list1)):
      if list1[j] > max1:
        max1 = list1[j];
    list1.remove(max1);
    final_list.append(max1)
  print(final_list)

In [ ]:
#
list1 = [10,21,4,45,66,93]
for num in list1:
  if num%2 ==0:
    print(num,end=" ")

In [ ]:
# Write a python program to print even numbers in a list.
# By using While loop.

list1 = [10,24,4,45,66,93]
num = 0 
while(num< len(list1)):
  if list1(num)%2 = =0:
    print(list1[num],end=" ")
  num +=1

In [ ]:
# Write a python program to print odd numbers in a list.
# By using for loop.
list2 = [10,21,4,45,66,93]
for num in list1:
  if num%2!=0:
    print(num,end =" ")

In [ ]:
# Write a python program to print odd numbers in a list.
# By using While loop.
list2 = [10,21,4,45,66,93]
i =0
while(i< len(list2)):
  if list[i]%2! =0:
    print(list2[i],end=" ")
  i += 1

In [ ]:
# Write a python program to Remove empty list from list.
test_list = [5,6,[],3,[],[],9]
print("The original list is : " + str(test_list))
while [] in test_list:
  test_list.remove([])
print("List after empty list removal: " = str(test_list))

In [ ]:
# Write a python program to Cloning or Copying a list.
def Cloning(1i1):
  1i_copy =[]
  li_copy = 1i1.copy()
  return li_copy
1i1 = [4,8,2,10,15,18]
1i2 = Cloning(1i1)
print("Original list: ",1i1)
print("After Clloning: ",1i2)

In [ ]:
# Write a python program to count occurrence of elelment in a list.
def countX(lst,X):
  return lst.count(x)
  lst = [8,6,8,10,8,20,10,8,8,9]
  x = 8
  print("{} has occurred {} times".format(x,countX(lst,x)))